body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-color: #272727;
}

.container {

	position: relative;
	overflow: visible;
	width: 768px;
	margin: auto;
	min-height: 450px;
        border-style: outset;
}

.form-container {
	postion:absolute;
    	left: 0;
	width : 50%;
	text-align: center;
}


.image-container {
    	position: absolute;
	right: 0;
	top: 0;
}

.radio-container {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 18px;
}

.radio-container input[type="radio"] {
  display: none;
}

.radio-container .checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
}

.radio-container input[type="radio"]:checked + .checkmark {
  background-color: #F73634;
  border-color: #F73634;
}

.radio-container .checkmark:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
}

.radio-container input[type="radio"]:checked + .checkmark:after {
  opacity: 1;
}

.form-container input {
    border: 1px solid #ccc;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 70%;
}

.form-container hr {
	width: 80%;
	border: 1px solid #F73634;
}

.form-container button {
    background-color: #F73634;
    border: none;
    border-radius: 1rem;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    width: 50%;
    margin-top: 5rem;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #6E1E00;
}