img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    background-image: url('Background.png');
    color: #F73634;
}

image{
    align-content: center;
}

table {
    width: 50%;
    border-collapse: collapse;
    background-color: #272727;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    font-size: medium;
    border: 2px solid;
    border-color: #878a8a;
    padding: 8px;
}

footer {
    background-color: #272727;
    color: #ffffff; 
    padding: 5px;
    text-align: center;
    position: sticky;
    top: 100%;
}

h1{
    text-align: center;
}