img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #272727;
    color: #F73634;
}

image{
    align-content: center;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid;
    border-color: azure;
    padding: 8px;
}

h1{
    text-align: center;
}